  
  body {
    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 200px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4c95af;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  #searchResult {
    margin-top: 10px;
  }
